@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format(opentype);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&family=Oswald:wght@200..700&display=swap');
:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --font-padrao:arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', Cursive;

}

/* Configuração do título*/
header{
     margin-top: 0px;
    padding-bottom: 10px;
    background-color: #063d1e;
    
}
header h1{
    font-family: var(--font-destaque);
    color:white;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 50px;
}
header p{
text-align: center;
color: white;
font-style:normal ;
font-family: var(--font-padrao);
}

/* configuração do menu de navegação*/
nav{
    font-family: var(--font-padrao);
    background-color: #063d1e;
    padding-left: 10px;
    padding-bottom: 5px;
}
a{
    color: white;
    margin-right: 10px;
    text-decoration: none;

}
a:hover{
    color:rgb(255, 254, 254) ;
    box-shadow: 10px;
    background-color: rgba(170, 169, 169, 0.178);
    padding: 4px;
    border-radius: 8px;
}

/*conteúdo principal*/
body{
    background-color: #3ddc84;
}
main{
    padding-top: 10px;
    background-color: white;
    margin-left: 37px;
    margin-right:30px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.418);
    justify-content: center;
}

/* formatação dos titulos*/

h2{
    font-family: 'android',var(--font-padrao);
    color: #1a5c37;
    background-image: linear-gradient(to right , #2fa866, #3ddc84 , #cee9da, #f8f8f6);
}
/* formatação de todos os parágrafos*/

p{
    font-family:var(--font-padrao);
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    text-indent: 40px;
    
}
/* formatação de imamagens de class="foto1"*/
.foto1{
    display: grid;
    text-align: center;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.foto2{
    justify-content:center ;
    justify-items: center;
    width: auto;
    height: auto;
    align-items: center;
    margin-left: auto;
    display: flex;
}
/* formatação do video*/

iframe{
    justify-content: center;
    justify-items: center;
    display: flex;
    max-width: 100%;
    align-items: center;
    margin: auto;
    width: 70%;
    max-height: 50% ;
    background-color: #063d1e;
    padding-top: 10px;
    padding-right: 75px;
    padding-bottom: 10px;
    padding-left: 75px;
}

/* formatação da lista*/
h3{
    background-color: #063d1e;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom:1px;
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    border-radius: 8px 8px 0px 0px;

    margin-top: 10px;
}

/* formatação da lista */
.lista{
    background-color: #C5EBD6;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
    box-shadow: 3px 3px 3px 3px #00000056;
    
}

.lista >ul>li::before{
    content: '✔';
    padding-right: 5px;

}
li{
    list-style: none;
    
}